header {
    width: 100%;
    height: 100vh;
    padding: .5rem 2rem;
}

i {
    color: $primary-normal;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    border: 1px solid $primary-normal;
    border-radius: 3.125rem;
}

.header-logo {
    color: $primary-normal;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-menu {
    display: flex;
    gap: 2rem;

    a {
        color: $primary-normal;
        font-weight: 500;
    }
}

.header-menu a:hover {
    animation: translateY 0.8s infinite alternate;
    color: $secondary-light;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .header-content {
        width: 100%;
        position: relative;
    }
    .header-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 1rem 2rem;
        position: absolute;
        top: 103%;
        left: 0;
        background-color: $primary-light;
        border-radius: 1rem;
        z-index: 1;
    }
    .theme-icon {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .menu-icon>i:hover {
        color: $secondary-medium;
    }
}