* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  padding: 0.5rem 2rem;
}

i {
  color: #E0B535;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border: 1px solid #E0B535;
  border-radius: 3.125rem;
}

.header-logo {
  color: #E0B535;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-menu {
  display: flex;
  gap: 2rem;
}
.header-menu a {
  color: #E0B535;
  font-weight: 500;
}

.header-menu a:hover {
  animation: translateY 0.8s infinite alternate;
  color: #444444;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    position: relative;
  }
  .header-menu {
    display: block;
    background-color: #ECE1C1;
    width: 88%;
    padding: 1rem;
    position: absolute;
    top: 46px;
    left: 22px;
  }
  .theme-icon {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #444444;
  height: 100%;
}
.hero span {
  color: #E0B535;
  font-style: italic;
}
.hero h1 {
  font-size: 6rem;
  text-align: right;
}
.hero p {
  font-size: 1.5rem;
  font-weight: 500;
  width: 60%;
}

.hero .icons {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  font-size: 2rem;
  justify-content: center;
}

.icons .icon a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #444444;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
/* ABOUT */
.about {
  background-color: #ECE1C1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content {
  padding: 2rem 0;
}
.about-content h2 {
  color: #444444;
  font-style: italic;
}

.about-person {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
.about-person div {
  flex: 1;
}
.about-person img {
  border-radius: 1.2rem;
}
.about-person p {
  line-height: 150%;
}

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  color: #E0B535;
}
.about-skills h3 {
  font-size: 0.825rem;
  padding: 1rem;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #E0B535;
  border-bottom: 1px solid #E0B535;
}
.skills_list li {
  width: 30%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 2rem;
  background-color: #E0B535;
  border-radius: 0.5rem;
  color: #444444;
}
.skills_list i,
.skills_list svg {
  font-size: 1.8rem;
  color: #444444;
}

/* PROJECTS */
.projects-content {
  padding: 2rem 0;
}
.projects-content h2 {
  color: #444444;
  font-style: italic;
  padding-bottom: 2rem;
}

.projects-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  display: flex;
  border: 1px solid #E0B535;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 280px;
  background-color: rgba(236, 225, 193, 0.3);
}
.project div {
  flex: 1;
}
.project img {
  border-radius: 1.5rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.project-description h4 {
  color: #E0B535;
}
.project-description ul {
  color: #E0B535;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

/* CONTACT */
.contact {
  background-color: #ECE1C1;
  padding: 2rem 0;
  height: 100%;
}
.contact h2 {
  color: #444444;
  font-style: italic;
  padding-bottom: 2rem;
}

.contact-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.825rem;
}
.contact-forms h3 {
  font-size: 0.825rem;
  color: #444444;
  padding: 1rem;
}
.contact-forms input {
  width: 60%;
  padding: 0.825rem;
  border: none;
  border-radius: 0.3rem;
}
.contact-forms .mensage {
  height: 10rem;
}

.send-btn {
  background-color: #E0B535;
  padding: 0.5rem;
  width: 10%;
  border-radius: 0.3rem;
  color: #ECE1C1;
}

.send-btn:hover {
  background-color: #343434;
}

/* FOOTER */
footer {
  background-color: #E0B535;
  padding: 2rem 0 1rem;
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content p {
  color: #ECE1C1;
  font-size: 0.925rem;
}

.social-medias {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 3rem;
}
.social-medias li {
  display: flex;
  align-items: center;
}
.social-medias a {
  color: #343434;
}
.social-medias i,
.social-medias svg {
  color: #343434;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 91vh;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero p {
    font-size: 1.1rem;
    width: 100%;
  }
  .about {
    height: auto;
  }
  .about-content h2 {
    padding: 0 2rem 2rem 2rem;
  }
  .about-person {
    flex-direction: column;
    padding: 0 2rem;
  }
  .skills_list li {
    width: 40%;
    font-size: 0.825rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
  .skills_list i,
  .skills_list svg {
    font-size: 1.2rem;
  }
  .project {
    height: 100%;
  }
  .projects-content {
    padding: 2rem;
  }
  .project {
    flex-direction: column;
    background-color: rgba(236, 225, 193, 0.3);
  }
  .project img {
    border-radius: 1.5rem;
    height: 100%;
  }
  .contact {
    padding: 2rem;
    height: auto;
  }
  .contact-forms input {
    width: 100%;
    padding: 0.825rem;
    border: none;
    border-radius: 0.3rem;
  }
  .send-btn {
    width: 30%;
  }
  footer {
    padding: 2rem;
  }
  .social-medias {
    flex-wrap: wrap;
    justify-content: center;
  }
  .social-medias i,
  .social-medias svg {
    font-size: 1rem;
  }
}
@media screen and (max-width: 389px) {
  html {
    font-size: 80%;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #EFEFEF;
}

button {
  cursor: pointer;
  border: none;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */