@use '../global.sass'
@use '../variables.sass'

// PROJECTS
.proj-content
    display: flex
    flex-direction: column
    gap: 2rem

    .proj-card
        display: flex

        .proj-img
            border-radius: 0.2rem

            img
                width: 100%
                height: 300px
                object-fit: cover
                object-position: top
                border-radius: 0.2rem

        .proj-description
            width: 60%
            display: flex
            flex-direction: column
            padding: 1rem 2rem            

            h4
                font-size: 1.5rem

            .proj-text
                margin: 1rem 0

                p
                    line-height: 1.4
                    font-weight: 300
                    padding-right: 2rem

            .proj-techs 
                flex: 1
                margin-top: 2rem

                h5
                    font-weight: 400

                ul
                    display: flex
                    flex-wrap: wrap
                    gap: 1rem
                    margin: 0.5rem 0 1.5rem 0
                    font-weight: 200

            .actions-btn
                display: flex
                gap: 1rem

                button
                    padding: 0.25rem 1rem
                    background-color: variables.$dark_40
                    border-radius: 0.2rem
                    
                    a
                        color: variables.$dark_10

                    &:hover
                        background-color: variables.$dark_20
                        color: variables.$dark_10
                        cursor: pointer
                        

                .repo
                    background-color: variables.$dark_10
                    border: 1px solid variables.$dark_40

                    a
                        color: variables.$dark_40

                    &:hover
                        background-color: variables.$dark_20
                        color: variables.$dark_10
                        cursor: pointer


@media screen and (max-width: 768px) 
    html 
        font-size: 85%

    // HEADER
    .header-container
        .menu
            display: none

        .header-content
            nav
                .menu
                    display: none
                    flex-direction: column
                    width: 100%
                    padding: 1rem 2rem
                    position: absolute
                    top: 100%
                    left: 0
                    background-color: variables.$dark_10
                    border: 1px solid variables.$dark_40
                    border-radius: 0.2rem
                    z-index: 1

                .menu_btns, .btn-menu
                    display: block
    
    .projects-container
        padding: 2rem 0

        .proj-content 
            .proj-card 
                flex-direction: column

                img 
                    height: auto !important
                

                .proj-description 
                    width: 100%
                    padding: 1rem 0

                    .proj-text 
                        p 
                            padding-right: 0
                    
                
            
        
    
