* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  background: none;
}

body {
  background-color: #0F0F0F;
  color: #EFEFEF;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: #EFEFEF;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
}

main {
  position: relative;
  top: 5rem;
  left: 0;
}

.container {
  margin: 0 auto;
  max-width: 1290px;
}

.header-container {
  width: 100%;
  height: 5rem;
  background-color: #0F0F0F;
  border-bottom: 1px solid rgba(239, 239, 239, 0.368627451);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-container .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-container .header-content nav, .header-container .header-content ul {
  display: flex;
  gap: 2rem;
}
.header-container .header-content nav li, .header-container .header-content nav a, .header-container .header-content ul li, .header-container .header-content ul a {
  font-weight: 300;
}
.header-container .header-content nav li:hover, .header-container .header-content nav a:hover, .header-container .header-content ul li:hover, .header-container .header-content ul a:hover {
  color: #919191;
}
.header-container .header-content nav .btn-menu, .header-container .header-content ul .btn-menu {
  display: none;
}

.hero-container {
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
}
.hero-container .hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #EFEFEF;
  border-radius: 0.1rem;
}
.hero-container .hero-content h1 {
  font-size: 6.25rem;
  font-weight: 500;
  text-align: center;
}
.hero-container .hero-content h2 {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 1.5rem;
}
.hero-container .hero-content p {
  font-size: 1.5rem;
}
.hero-container .hero-content button {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #EFEFEF;
  border-radius: 0.2rem;
  color: #EFEFEF;
}
.hero-container .hero-content button:hover {
  background-color: #EFEFEF;
  color: #0F0F0F;
  cursor: pointer;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0;
}
.about-container h2 {
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: 100;
  border-left: 1px solid #EFEFEF;
}
.about-container .about-content {
  display: flex;
  padding: 1rem;
}
.about-container .about-content .about-img {
  flex: 1;
  display: flex;
  justify-content: center;
}
.about-container .about-content .about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.about-container .about-content .about-text #city {
  font-weight: 300;
}
.about-container .about-content .about-text p {
  font-size: 1.25rem;
  line-height: 1.4;
}
.about-container .about-content .about-text button {
  padding: 0.5rem 1rem;
  background-color: #EFEFEF;
  border-radius: 0.2rem;
  color: #0F0F0F;
  width: 30%;
}
.about-container .about-content .about-text button:hover {
  background-color: #919191;
  color: #0F0F0F;
  cursor: pointer;
}
.about-container .about-skills {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 0;
}
.about-container .about-skills h3 {
  font-weight: 400;
  text-align: center;
  color: #919191;
}
.about-container .about-skills .skill-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgba(239, 239, 239, 0.368627451);
  border-radius: 0.2rem;
}
.about-container .about-skills .skill-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #919191;
}
.about-container .about-skills .skill-list li i {
  font-size: 4rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0;
}
.projects-container h2 {
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: 100;
  border-left: 1px solid #EFEFEF;
}
.projects-container .projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.projects-container .projects-content .card {
  display: flex;
  flex-direction: column;
}
.projects-container .projects-content .card .project-img {
  border-radius: 0.2rem;
}
.projects-container .projects-content .card .project-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 0.2rem;
}
.projects-container .projects-content .card .project-description {
  display: flex;
  flex-direction: column;
}
.projects-container .projects-content .card .project-description h4 {
  font-size: 1.5rem;
}
.projects-container .projects-content .card .project-description p {
  line-height: 1.4;
  font-weight: 300;
  padding-right: 2rem;
}
.projects-container .projects-content .card .project-description ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0 1.5rem 0;
  font-weight: 200;
}
.projects-container .projects-content .card .project-description .actions-btn {
  display: flex;
  gap: 1rem;
}
.projects-container .projects-content .card .project-description .actions-btn button {
  padding: 0.25rem 1rem;
  background-color: #EFEFEF;
  border-radius: 0.2rem;
}
.projects-container .projects-content .card .project-description .actions-btn button a {
  color: #0F0F0F;
}
.projects-container .projects-content .card .project-description .actions-btn button:hover {
  background-color: #919191;
  color: #0F0F0F;
  cursor: pointer;
}
.projects-container .projects-content .card .project-description .actions-btn .repo {
  background-color: #0F0F0F;
  border: 1px solid #EFEFEF;
}
.projects-container .projects-content .card .project-description .actions-btn .repo a {
  color: #EFEFEF;
}
.projects-container .projects-content .card .project-description .actions-btn .repo:hover {
  background-color: #919191;
  color: #0F0F0F;
  cursor: pointer;
}
.projects-container .see-more-btn {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #EFEFEF;
  border-radius: 0.2rem;
  color: #EFEFEF;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.projects-container .see-more-btn:hover {
  background-color: #EFEFEF;
  color: #0F0F0F;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
}
.contact-container h2 {
  padding-left: 2rem;
  font-size: 4rem;
  font-weight: 100;
  border-left: 1px solid #EFEFEF;
}
.contact-container .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contact-container .contact-content h3 {
  font-weight: 300;
}
.contact-container .contact-content .contact-list {
  display: flex;
  gap: 1rem;
}
.contact-container .contact-content .contact-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact-container .contact-content .contact-list li i {
  font-size: 2rem;
}
.contact-container .contact-content .contact-list li span {
  font-weight: 200;
  font-size: 0.9rem;
}

footer .attribution {
  font-size: 12px;
  text-align: center;
  color: rgba(239, 239, 239, 0.368627451);
}

footer .attribution a {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  html {
    font-size: 95%;
  }
  body {
    padding: 0 2rem;
  }
  .about-container h2,
  .projects-container h2,
  .contact-container h2 {
    font-size: 2.5rem;
  }
  .header-container {
    padding: 0 2rem;
  }
  .header-container .menu {
    display: flex;
  }
  .header-container .btn-menu {
    display: none;
  }
  .about-container {
    padding: 0;
  }
  .about-content img {
    width: 300px;
  }
  .about-content .about-text p {
    font-size: 1rem;
  }
  .about-content .about-text button {
    width: 60%;
  }
  .projects-container .projects-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .projects-container .projects-content .project-description h4 {
    font-size: 1rem;
  }
  .projects-container .projects-content .project-description ul {
    flex-wrap: wrap;
  }
  .projects-container .projects-content .project-description ul li {
    font-size: 0.825rem;
    font-weight: 200;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
  .header-container {
    padding: 1rem 2rem;
  }
  .header-container .logo, .header-container img {
    height: 40px;
  }
  .header-container .menu {
    display: none;
  }
  .header-container .header-content nav .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0F0F0F;
    border: 1px solid #EFEFEF;
    border-radius: 0.2rem;
    z-index: 1;
  }
  .header-container .header-content nav .menu_btns, .header-container .header-content nav .btn-menu {
    display: block;
  }
  .hero-container {
    padding: 0 1rem;
  }
  .hero-container .hero-content {
    gap: 6rem;
    padding: 4rem 1rem;
  }
  .hero-container .hero-content h1 {
    font-size: 4.5rem;
  }
  .hero-container .hero-content h2 {
    font-size: 2.8rem;
    letter-spacing: 0.8rem;
  }
  .hero-container .hero-content p {
    font-size: 1rem;
  }
  .about-container {
    padding: 4rem 0;
  }
  .about-container h2 {
    font-size: 2.5rem;
  }
  .about-container .about-content {
    flex-direction: column;
  }
  .about-container .about-content .about-img {
    margin-bottom: 4rem;
  }
  .about-container .about-content .about-text p {
    font-size: 1rem;
  }
  .about-container .about-content .about-text button {
    width: 45%;
  }
  .about-container .about-skills {
    padding: 1rem;
  }
  .about-container .about-skills .skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 2rem 0;
  }
  .about-container .about-skills .skill-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .projects-container {
    padding: 6rem 0;
  }
  .projects-container h2 {
    font-size: 2.5rem;
  }
  .projects-container .projects-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .projects-container .projects-content .project-description h4 {
    font-size: 1rem;
  }
  .projects-container .projects-content .project-description ul, .projects-container .projects-content .project-description li {
    font-size: 0.875rem;
  }
  .contact-container {
    padding: 4rem 0;
  }
  .contact-container h2 {
    font-size: 2.5rem;
  }
  .contact-container .contact-content .contact-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 2rem 0;
  }
}/*# sourceMappingURL=style.css.map */